html {
    font-size: 18px;
}

a {
    outline: none !important;
    box-shadow: none !important;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: 'Nanum Gothic Coding', monospace;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 208, 107, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(18, 208, 107);
} 

.active .green-link:link {
    border: black 1px solid;
    color: black !important;
    
}
.active .green-link:visited {
    border: black 1px solid;
    color: black !important;
}

.green-link {
    padding: 5px;
    border: #12d06b 1px solid;
    /* margin-bottom: 3px; */
}

.green-link:link {
    color: #12d06b !important;
}

.green-link:visited {
    color: #12d06b !important;
}

.green-link:hover {
    background-color: #12d06b !important;
    color: white !important;
    text-decoration: none !important;
}

.navbar-light .navbar-brand {
    color: purple;
    border: purple solid 1px;
    padding-left: 9px;
    padding-right: 9px;
}

.navbar-light .navbar-brand:hover {
    color: purple;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#no-border {
    padding: 0;
    border: none;
}

@media screen and (max-width:767px) {
    .nav-item .green-link {
        margin: 3px 0;
        padding-left: 3px;
    }
}

@media screen and (min-width:768px) {
    .nav-item .green-link {
        margin-left: 3px;
    }
}

/* INDEX */

/* screen width from 0 to 359 */
@media screen and (max-width:359px) {

    .kristina {
      width: 63%;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
}

/* screen width from 360 to 469 */
@media screen and (min-width:360px) and (max-width:469px) {

    .kristina {
        width: 55%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

/* screen width from 470 to 767 */
@media screen and (min-width:470px) and (max-width:767px) {

    .kristina {
        width: 47%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

/* END INDEX */

/* ============================================== */

/* ANIMATION */

.animation-carousel {
    filter: invert(100%);
}

#img-width-fix {
    width: 100%;
}

#stomp-small {
    display: none;
}

/* screen width from 0 to 400 */
@media screen and (max-width:400px) {

    img.animation {
        pointer-events: none;
    }

    h3.animation-h3 {
        font-size: 1.5rem;
    }

    #stomp-big {
        display: none;
    }

    #stomp-small {
        display: block;
    }
}

/* screen width from 401 to 475 */
@media screen and (min-width:401px) and (max-width:475px) {

    img.animation {
        pointer-events: none;
    }

    h3.animation-h3 {
        font-size: 1.5rem;
    }
}

/* screen width from 476 to 768 */
@media screen and (min-width:476px) and (max-width:768px) {

    img.animation {
        pointer-events: none;
    }
}

/* END ANIMATION */

/* ============================================== */

/* CURATORIAL */

.curatorial-carousel {
    filter: invert(100%);
}

/* screen width from 0 to 400 */
@media screen and (max-width:400px) {

    img.curatorial {
        pointer-events: none;
    }

}

/* screen width from 401 to 475 */
@media screen and (min-width:401px) and (max-width:475px) {

    img.curatorial {
        pointer-events: none;
    }

}

/* screen width from 476 to 768 */
@media screen and (min-width:476px) and (max-width:768px) {

    img.curatorial {
        pointer-events: none;
    }

}

@media (min-width: 576px) {
    .modal-dialog-curatorial {
        margin: 1rem auto;
    }
}

@media (min-width: 992px) {
    /* width of modal for paternoster */
    .modal-sp {
        max-width: 700px;
    }
}

/* END CURATORIAL */

/* ============================================== */

/* WRITING */
@media screen and (min-width: 577px) and (max-width: 991px) {
    .writing-modal {
        width: 90%;
        max-width: 1200px;
    }
}

@media screen and (min-width: 1200px) {
    .writing-modal {
        width: 850px;
    }
}

/* END WRITING */